/* background image */
body {
    background-image: url("./assets/beach.png");
    font-family: georgia, serif;
}

/* navbar */
#navbar {
    background-color: red;
}
/* index.html */
#about-me {
    border: solid;
    border-width: thick;
    border-color: dimgray;
    background-color: linen;
}

h1 {
    margin-top: 15px;
    margin-left: 60px;
}
.float-left {
    float: left;
}

/* contact page */
#contact {
    color: white;
}

#submit {
    color: black;
    background-color: navajowhite;
    border-color: white;
}
.card {
    border-style: solid;
    border-color: dimgray;
    border-width: medium;
    background-color: navajowhite;
    color: dimgray;
    margin-top: 90px;
    margin-right: 20px;
}
.link {
        color: rgb(196, 144, 125);
      }

/* portfolio */
#portfolio {
    color: white;  
}

.portfolio {
    text-align: center;
}

.url {
    color: white;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: tan;
    color: white;
    text-align: center;
 }

